*/*/*.o
*/.idea/
*/*/.idea/
.vs/
.tmp.driveupload/
.tmp.drivedownload/
*/Debug/
*/*.exe
*/*.obj
*/cmake-build-debug/

# 不要忽略cmake-build-debug/txt_files文件夹下的内容
!*/cmake-build-debug/txt_files/
*/x64/
*/*/x64/