*/*/*.o
*/.idea/
*/*/.idea/
.vs/
*/.vs/
.tmp.driveupload/
.tmp.drivedownload/
*/Debug/
*/*.exe
*/*.obj

# 忽略build文件夹下的内容，但保留build文件夹
*/build/*
*/cmake-build-debug/*
*/win_build/*
*/linux_build/*


# 不要忽略文件夹和子文件夹
# !/**/

# 不要忽略cmake-build-debug/txt_files文件夹下的内容
!speech/cmake-build-debug/
*/x64/
*/*/x64/